.DS_Store
.git
.gitignore
node_modules
yarn-error.log
.env.local
.env
.docusaurus
.prefetch

api/.github
api/.git
api/.env
api/.gitignore
api/.idea
api/.vscode
api/node_modules/
api/tests/
api/dist/
api/dist/.env
api/log/
api/README.md

backend/