# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
**/.next/
/out/
.turbo/

# production
/build

# misc
.DS_Store
*.pem
.cursor/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# generated
charts/index.js

# Endpoint configs
configs/endpoints/**/*
!configs/endpoints/.keep

# IDE
.idea
.vscode
.run
