@use "../lib/ui/styles/index";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: var(--background-color-body);
  color: var(--text-color-content);
}

:root {
  --site-header-height: 60px;
  // ! TODO - remove legacy values
  --site-left-nav-width: 160px;
  --site-widget-gap: 16px;
  // TODO - apply new values
  // --site-left-nav-width: 240px;
}

.min-h-page {
  min-height: calc(100vh - var(--site-header-height));
}

.max-h-page {
  max-height: calc(100vh - var(--site-header-height));
}

.h-page {
  height: calc(100vh - var(--site-header-height));
}

.top-header {
  top: var(--site-header-height);
}

.styled-scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color);
    }
  }
}
