.mainWrapper {
    background-color: #f9fafc;
    padding: 15px;
}

.mainHeader {
    padding: 15px;
    border-bottom: 1px solid transparent;
    z-index: 999;
}

.mainContent {
    padding: 15px;
}

.mainSection {
    margin-bottom: 10px;
}
