
.nav-explore-icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  animation: nav-explore-icon-keyframes-container infinite 4.3s linear;
  vertical-align: text-bottom;
}

.nav-explore-icon:before {
  position: absolute;
  display: block;
  content: ' ';
  width: 16px;
  height: 16px;
  border-radius: 43% 56%;
  left: 2px;
  top: 2px;
  animation: nav-explore-icon-keyframes-outer infinite 12s linear;
  transform-origin: center center;
  box-sizing: border-box;
  border: 1px solid #794BC5;
  box-shadow: #794BC5 0 0 6px 1px;
  /*background-color: #794BC5a0;*/
}

.nav-explore-icon:after {
  position: absolute;
  display: block;
  content: ' ';
  width: 14px;
  height: 14px;
  border-radius: 43% 56%;
  left: 3px;
  top: 3px;
  animation: nav-explore-icon-keyframes-inner infinite 16s linear;
  transform-origin: center center;
  box-sizing: border-box;
  border: 1px solid #3D44FF;
  box-shadow: #3D44FF 0 0 3px 1px;
  /*background-color: #3D44FFa0;*/
}

@keyframes nav-explore-icon-keyframes-container {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes nav-explore-icon-keyframes-outer {
  0% {
    border-radius: 43% 56% 38% 52%;
    transform: scale(0.9);
  }
  33% {
    border-radius: 47% 53% 37% 60%;
    transform: scale(1.2) rotate(-120deg);
  }
  66% {
    border-radius: 51% 52% 45% 43%;
    transform: scale(1.1) rotate(-240deg);
  }
  100% {
    border-radius: 43% 56% 38% 52%;
    transform: scale(0.9) rotate(-360deg);
  }
}

@keyframes nav-explore-icon-keyframes-inner {
  0% {
    border-radius: 33% 66% 34% 52%;
    transform: scale(1.3);
  }
  33% {
    border-radius: 57% 53% 37% 30%;
    transform: scale(0.8) rotate(120deg);
  }
  66% {
    border-radius: 41% 52% 65% 73%;
    transform: scale(0.9) rotate(240deg);
  }
  100% {
    border-radius: 33% 66% 34% 52%;
    transform: scale(1.3) rotate(360deg);
  }
}
