# Dependancies
node_modules

# Build Result
*.js
app/**/*.js
/dist

# Enviorment Variable
.env

# IDE Config
.vscode
.idea

# Logs
log
*.log
test/result/*.log
.pnpm-debug.log
/**/explain.result.txt

# Fox Mac OS
.DS_Store

# Config file.
params.schema.d.ts
openapi.yaml
static/openapi.yaml
region-code-mappings.yaml
