# Dependancies
node_modules

# Build Result
app/**/*.js
/dist

# Enviorment Variable
.env

# IDE Config
.vscode
.idea

# Logs
log
*.log
test/result/*.log
.pnpm-debug.log

# Fox Mac OS
.DS_Store

params.schema.d.ts
openapi.yaml
