# Static or generated
static
build
.docusaurus
.prefetch
plugins/**/*.js
plugins/**/*.d.ts

# Config
.eslintrc.js
sidebars.js
prefetch.mjs
docusaurus.config.js
babel.config.js

# Special files
src/api/_todo_hardcoded.ts
src/client/linkedin.js
